.header {
  margin:0;
  padding: 0;
  height: 100vh;
  /*min-height: 600px;*/
  min-height: 632px;
  max-height: 756px;
  /* выше установили ограничения для секции */

  display: flex;
  position: relative;

  overflow: hidden;
}
